@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";

}

<h1>Home page</h1>

@if (User.Identity.IsAuthenticated)
{
<div>
    <p> Hello, @User.Identity.Name!</p>
    
    <a asp-action="Manage"> Manage your acount</a>
    <form method="post" asp-action="Logout">

        <button type="submit">Log Out</button>
    </form>
</div>
}
else
{
    <div>
        <p>Enter your name to log in</p>
        <form method="post" asp-action="Login">
            <p>
                <label for="idUser">User</label>
                <input type="text" id="idUser" name="idUser" />
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" />
            </p>

            <button type="submit">Log in</button>
        </form>
    </div>
}